h1 {
  text-align: center;
  margin-bottom: 30px;
}
h2 {
  margin-left: 10%;
  margin-top: 50px;
}

#tableContainer {
  height: 300px;
  margin: 0 10%;
}

#plotContainer {
  margin: 0 10%;
}

#plotContainer, #tableContainer {
  width: 80%;
}